body {
  font-family: $main-font;
  font-style: normal;
  font-weight: 400;
  color: $text-primary;
  font-size: 18px;
  line-height: 130%;

  @include min("xl") {
    font-size: vw(16);
  }

  @include max(1200) {
    font-size: 16px;
  }

  @include max(s) {
    font-size: 14px;
  }
}

.main {
}

.column {
  width: 100%;
  flex-shrink: 0;
  height: 100%;

  &--left {
    width: vw(590);
  }

  &--center {
    width: vw(600);
  }

  &--right {
    width: vw(250);
  }
}

.container {
  position: relative;
  width: 100%;
  max-width: 970px;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  position: relative;
  padding: 100px 0 65px;

  @include max(m) {
    padding: 50px 0 50px;
  }

  @include max(s) {
    padding: 30px 0 30px;
  }
}