body {
  font-family: $main-font;
  font-style: normal;
  font-weight: 400;
  color: $text-primary;
  font-size: 18px;
  line-height: 130%;

  @include min("xl") {
    font-size: vw(18);
  }
}

.column {
  width: 100%;
  flex-shrink: 0;
  height: 100%;

  &--left {
    width: vw(590);
  }

  &--center {
    width: vw(600);
  }

  &--right {
    width: vw(250);
  }
}

.container {
  display: flex;
}
