// Имя отеля на разных страницах
.name {
  font-weight: 700;
  font-size: 30px;
  line-height: 120%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: $black;

  @include min("xl") {
    font-size: vw(30);
  }
}

// Основной класс для большинства заголовков
.title {
  font-weight: 700;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: $black;

  &--big {
    font-size: 48px;
    line-height: 130%;

    @include min("xl") {
      font-size: vw(48);
    }
  }

  &--bigest {
    font-size: 143px;
    line-height: 173px;
  }

  &--small {
    font-size: 30px;
    line-height: 120%;

    @include min("xl") {
      font-size: vw(30);
    }
  }
}

// Большой фоновый текст
.backdrop {
  font-weight: 700;
  font-size: 180px;
  line-height: 218px;
  letter-spacing: 0.02em;
  text-transform: uppercase;

  @include min("xl") {
    font-size: vw(180);
    line-height: vw(218);
  }
}

.link {
  position: relative;
  display: flex;
  align-items: center;
  color: $text-primary;
  text-transform: uppercase;
  font-weight: 400;
  transition: color 0.3s ease;
  //
  //&::after {
  //  content: '';
  //  position: absolute;
  //  bottom: 0;
  //  left: 0;
  //  right: 0;
  //  width: 0;
  //  height: 1px;
  //  background-color: $text-primary;
  //  transition: width 0.3s ease;
  //}

  &--light {
    font-weight: 300;
  }

  @include hover {
    color: $brown;
    //&::after {
    //  width: 100%;
    //}
  }
}

.text {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.logo {
  &__link {
    display: block;
    width: 77px;
    height: 31px;
    text-decoration: none;

    @include min("xl") {
      width: vw(77);
      height: vw(29);
    }

    svg {
      width: 77px;
      height: 31px;

      @include min("xl") {
        width: vw(77);
        height: vw(29);
      }
    }
  }
}