// Имя отеля на разных страницах
.name {
  font-weight: 700;
  font-size: 30px;
  line-height: 120%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: $black;

  @include min("xl") {
    font-size: vw(30);
  }
}

// Основной класс для большинства заголовков
.title {
  font-weight: 700;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: $black;

  &--big {
    font-size: 48px;
    line-height: 130%;

    @include min("xl") {
      font-size: vw(44);
    }

    @include max(s) {
      font-size: 36px;
    }
  }

  &--bigest {
    font-size: 143px;
    line-height: ( 173 / 143);

    @include max(1200) {
      font-size: 120px;
    }
  }

  &--small {
    font-size: 30px;
    line-height: 120%;

    @include min("xl") {
      font-size: vw(30);
    }

    @include max(1200) {
      font-size: 24px;
    }

    @include max(s) {
      font-size: 20px;
    }
  }

  &--mobile {
    display: none;

    @include max(s) {
      display: block;
    }

    @include max(400) {
      font-size: 30px;
    }
  }
}

// Большой фоновый текст
.backdrop {
  font-weight: 700;
  font-size: 180px;
  line-height: 218px;
  letter-spacing: 0.02em;
  text-transform: uppercase;

  @include min("xl") {
    font-size: vw(180);
    line-height: vw(218);
  }
}

.link {
  position: relative;
  display: flex;
  align-items: center;
  color: $text-primary;
  text-transform: uppercase;
  font-weight: 400;
  transition: color 0.3s ease;

  @include max(1200) {
    font-size: 16px;
  }

  @include max(s) {
    font-size: 14px;
  }

  &--light {
    font-weight: 300;
  }

  @include hover {
    color: $brown;
  }

  &--arrow {
    @include hover {
      &::after {
        transform: translateX(6px);
      }
    }

    &::after {
      content: '';
      display: inline-block;
      width: 8px;
      height: 13px;
      background: transparent url('../images/icons/link-arrow.svg') no-repeat center;
      background-size: 120%;
      margin-left: 15px;
      transition: transform 0.3s ease;
    }
  }
}

.text {
  font-family: "Roboto", sans-serif;
  font-weight: 300;

  @include max(1200) {
    font-size: 16px;
  }

  @include max(s) {
    font-size: 14px;
  }
}

.logo {
  &__link {
    display: block;
    width: 77px;
    height: 31px;
    text-decoration: none;

    @include min("xl") {
      width: vw(77);
      height: vw(29);
    }

    svg {
      width: 77px;
      height: 31px;

      @include min("xl") {
        width: vw(77);
        height: vw(29);
      }
    }
  }
}