$media-list: (
  "xxs": 420,
  "xs": 576,
  "s": 768,
  "m": 992,
  "l": 1280,
  "xl": 1442,
  "xxl": 1920,
);

// Colors
$main-font: "Gilroy", sans-serif;
$text-primary: #363636;

$pourri: #f3e7db;
$black: #000000;
$white: #ffffff;
$grey: #777373;
$beige: #f3e7db;
$brown: #896441;
