.footer {
  position: relative;
  background-color: #363636;
  background-repeat: no-repeat;
  background-position: left bottom;
  z-index: 3;

  &-wrapper {
    position: relative;
    display: flex;
    padding: 38px;
    background-image: url("../images/footer-bg.svg");
    background-repeat: repeat;

    @include max(xs) {
      padding: 0;
    }
  }

  &-bg {
    background: #363636;
    opacity: 0.7;
    position: absolute;
    top: 38px;
    bottom: 38px;
    left: 38px;
    right: 38px;

    @include max(xs) {
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }

  &-content {
    position: relative;
    z-index: 3;
    height: 100%;
    width: 100%;
    max-width: 1400px;
    padding: 50px 80px;
    margin: 0 auto;

    @include max(1300) {
      padding: 50px 40px;
    }

    @include max(xs) {
      padding: 30px 15px;
    }

  }

  &__logo {
    display: flex;
    justify-content: center;

    svg {
      fill: $beige;
      width: 132px;
      height: 58px;
    }
  }

  &__map {
    width: 100%;
    height: 350px;

    .ymaps-2-1-79-ground-pane {
      -webkit-filter: grayscale(100%);

      filter: grayscale(100%) invert(90%);
    }
    .ymaps-2-1-79-copyrights-pane {
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
    }

    .ymaps-2-1-79-gototech {
      opacity: 0.2;
    }

    .ymaps-2-1-79-copyright {
      opacity: 0.2;
    }

    .ymaps-2-1-79-gotoymaps {
      opacity: 0.2;
    }
  }

  &__row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 70px 0 0;

    @include max(m) {
      max-width: 450px;
      flex-wrap: wrap;
      justify-content: flex-start;
      margin: 0 auto;
      padding: 50px 0 0;
    }

    @include max(620) {
      flex-direction: column;
      justify-content: flex-start;
    }
  }

  &__nav-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 0;

    @include max(m) {
      width: 200px;
    }
  }

  &__info {
    font-weight: normal;
    font-size: 30px;
    line-height: 159.5%;
    letter-spacing: 0.02em;
    color: $brown;
    margin-top: 20px;
  }

  &__col {
    flex-shrink: 0;
  }

  &__title {
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: $beige;
    font-weight: 300;
    margin: 0;
  }

  &__address {
    font-style: normal;
    color: #CDC4BA;
    font-size: 14px;
    font-weight: 300;
    text-transform: none;
    margin-top: 10px;
  }

  &__list {
    margin-top: 10px;

    &-item {
      color: #CDC4BA;
      font-size: 14px;
      font-weight: 300;
      text-transform: none;

      &:not(:first-child) {
        margin-top: 20px;
      }
    }
  }

  &__link {
    color: #CDC4BA;
    font-size: 14px;
    font-weight: 300;
    text-transform: none;
    transition: color 0.3s;
    display: block;

    @include hover {
      color: $brown;
    }
    &--email {
      margin-top: 17px;
    }
  }

  &__nav-item {

    &:not(:first-child) {
      margin-top: 10px;

      @include max(xs) {
        margin-top: 20px;
      }
    }
  }

  &__contact-form {
    margin-top: 5px;
  }

  &__contacts {
    display: flex;

    @include max(m) {
      margin-top: 50px;
    }

    @include max(xs) {
      flex-direction: column;
    }
  }

  &__socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  &__form-wrapper {
    @include max(620){
      margin-top: 40px;
    }
  }
}

.form-wrapper {
  width: 350px;
  display: flex;
  flex-direction: column;

  @include max(1200) {
    width: 250px;
  }

  @include max(xs) {
    width: 100%;
  }
  &__title {
    margin: 0;
  }
  &__text {
    font-weight: 300;
    font-size: 14px;
    line-height: 159.5%;
    color: #CDC4BA;
    margin-top: 12px;
  }
}

.contact-form {
  height: 100%;
  display: flex;
  flex-direction: column;
  &__input-group {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-top: 30px;

    &.active {
      label {
        font-size: 10px;
        bottom: 35px;
        left: 0;
      }
    }
  }

  &__input {
    width: 100%;
    padding: 8px 0;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #CDC4BA;
    color: #CDC4BA;
    font-weight: 300;
  }

  &__label {
    position: absolute;
    bottom: 8px;
    font-size: 14px;
    font-weight: 300;
    line-height: 159.5%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #CDC4BA;
    transition: all 0.3s;
    pointer-events: none;
  }

  &__button {
    font-weight: 300;
    font-size: 14px;
    line-height: 159.5%;
    color: $text-primary;
    border: none;
    background-color: $beige;
    text-transform: uppercase;
    padding: 14px;
    width: 100%;
    margin-top: auto;
    transition: all 0.3s;

    @include hover {
      background-color: $brown;
      color: $white;
    }
  }
}

.contacts {
  &__col {
    max-width: 280px;

    @include max(1200) {
      max-width: 200px;
    }

    &:last-child {
      @include max(xs) {
        margin-top: 25px;
      }
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    &:not(:first-child) {
      margin-top: 25px;
    }
  }
}

.socials {
  &__title {
    font-weight: 300;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: $beige;
    max-width: 200px;
    margin: 0;
  }

  &__links {
    display: flex;
    align-items: center;
    margin-top: 5px;
  }

  &__link {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    margin: 5px;

    @include hover {
      svg {
        opacity: 0.7;
      }
    }

    svg {
      width: 36px;
      height: 36px;
      fill: #CDC4BA;
      opacity: 1;
      transition: opacity 0.3s;
    }
  }
}