.header {
  background-color: transparent;
  width: 100%;
  overflow: hidden;

  &.menu-active {
    .logo__link svg {
      fill: $white;
    }
    .header__column--right {
      pointer-events: none;
      visibility: hidden;
      opacity: 0;
    }
  }

  &__column--right {
    pointer-events: auto;
    visibility: visible;
    opacity: 1;
  }

  &__logo {
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 50px;
  }

  &-wrapper {
    position: relative;
    z-index: 11;
    height: 150px;
    background-color: transparent;
    display: flex;
  }

  &-links {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    background-color: $beige;

    &__line {
      height: 14px;
      width: 1px;
      background-color: $text-primary;
      margin: 0 17px;
    }

    &__item {
      text-transform: uppercase;
    }
  }

  &__menu {
    height: 100%;
    padding-left: 80px;
    display: flex;
    align-items: center;
  }
}

.menu {
  &-btn {
    display: inline-flex;
    align-items: center;
    color: $text-primary;
    cursor: pointer;
    transition: color 0.3s ease;

    @include hover {
      color: $brown;

      .menu-btn__line {
        background-color: $brown;
      }
    }

    &.active {
      color: $white;

      @include hover {
        color: $brown;

        .menu-btn__line {
          background-color: $brown;
        }
      }

      .menu-btn__line {
        background-color: $white;

        &:first-child {
          transform: rotate(21.2deg);
          transform-origin: left top;
        }

        &:nth-child(2) {
          width: 0;
        }

        &:last-child {
          width: 100%;
          transform: rotate(-21.2deg);
          transform-origin: left bottom;
        }
      }
    }

    &__burger {
      width: 33px;
      height: 13px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      @include min("xl") {
        width: vw(33);
        height: vw(13);
      }
    }

    &__line {
      width: 100%;
      height: 1px;
      background-color: $text-primary;
      transition: all 0.4s ease;

      &:last-child {
        width: 51.5%;
      }
    }

    &__text {
      font-weight: 300;
      text-transform: uppercase;
      font-size: 16px;
      margin-left: 8px;

      @include min("xl") {
        font-size: vw(16);
        margin-left: vw(8);
      }
    }
  }
}
