extends ../layout/default

block variables
  - var pageLang = ''
  - var pageTitle = 'Гостиничный комплекс Эдельвейс'
  - var bodyClass = 'index'

block header 
  include ../modules/_header

block content
  include templates/home/hero
  include templates/home/offers
  include templates/home/services