extends ../layout/default

block variables
    - let pageLang = ''
    - let pageTitle = 'Гостиничный комплекс Эдельвейс'
    - let bodyClass = 'index'

block header
    include ../modules/_header-white

block content
    section.single.section
        .single__container
            h1.title.title--big.single__title Эдельвейс,
                span  Абзаково
                span.single__num 01
            .single-wrapper
                .single-left
                    .single-left__container
                        .single-left__heading
                            .single-left__line
                            span.single-left__subtitle Эконом
                            .single-left__line
                        p.single-left__text Однокомнатный номер на третьем этаже. Санузел с душевой кабиной находится на этаже. В номере: двухместный раскладной диван, стол со стульями, телевизор, кухонная зона с чайником, микроволновкой, холодильником, чайными принадлежностями.
                        .single-left__options
                            ul
                                li
                                    .single-left__list-item
                                        .single-left__icon
                                            img(src="images/icons/square.svg" alt="Кровать")
                                        span.single-left__description площадь номера 12 м
                                            sup 2
                                li
                                    .single-left__list-item
                                        .single-left__icon
                                            img(src="images/icons/TV.svg" alt="Телевизор")
                                        span.single-left__description кабельное ТВ
                                li
                                    .single-left__list-item
                                        .single-left__icon
                                            img(src="images/icons/dishes.svg" alt="Посуда")
                                        span.single-left__description посуда
                                li
                                    .single-left__list-item
                                        .single-left__icon
                                            img(src="images/icons/dishes.svg" alt="Посуда")
                                        span.single-left__description посуда
                            ul
                                li
                                    .single-left__list-item
                                        .single-left__icon
                                            img(src="images/icons/square.svg" alt="Кровать")
                                        span.single-left__description площадь номера 12 м
                                            sup 2
                                li
                                    .single-left__list-item
                                        .single-left__icon
                                            img(src="images/icons/TV.svg" alt="Телевизор")
                                        span.single-left__description кабельное ТВ
                                li
                                    .single-left__list-item
                                        .single-left__icon
                                            img(src="images/icons/dishes.svg" alt="Посуда")
                                        span.single-left__description посуда
                                li
                                    .single-left__list-item
                                        .single-left__icon
                                            img(src="images/icons/dishes.svg" alt="Посуда")
                                        span.single-left__description посуда
                        .single-left__footer
                            a(href="#").button.single-left__button Бронировать
                .single-right
                    .slider-v3.single__slider.swiper
                        span.archive-card__label
                            img(src="images/icons/person.svg")
                            span 16
                        .swiper-wrapper
                            .swiper-slide
                                img(src="images/house.jpg")
                            .swiper-slide
                                img(src="images/house.jpg")
                            .swiper-slide
                                img(src="images/house.jpg")
                            .swiper-slide
                                img(src="images/house.jpg")
                            .swiper-slide
                                img(src="images/house.jpg")
                    .slider-v3-controls
                        button.slider-v3-button-prev
                            +icon('arrow-left')
                        .slider-v3-pagination
                        button.slider-v3-button-next
                            +icon('arrow-right')