extends ../layout/default

block variables
    - let pageLang = ''
    - let pageTitle = 'Гостиничный комплекс Эдельвейс'
    - let bodyClass = 'index'

block header
    include ../modules/_header-white

block content
    section.step-1.section.booking-page
        .booking-page__container
            h2.booking-page__num Шаг 1
            .booking-page__content
                h1.title.title--big.booking-page__title Выбор подходящего номера или дома
                hr
                .booking-page__cards
                    ul.booking-page__list
                        li.booking-page__item
                            span.booking-page__item-label
                            img(src="images/house.jpg").booking-page__item-image
                            .booking-page__item-data
                                h3.booking-page__item-title СТАНДАРТ
                                .booking-page__item-info
                                    .booking-page__item-icon
                                        img(src="images/icons/square.svg")
                                    span.booking-page__item-desc площадь номера 12 м<sup>2</sup>
                                .booking-page__item-info
                                    .booking-page__item-icon
                                        img(src="images/icons/person.svg")
                                    span.booking-page__item-desc вместимость 2 человека
                                .booking-page__item-footer
                                    .booking-page__item-price 1500 р
                                        span 1 ночь/1 гость
                                    a(href="#").booking-page__item-link  выбрать
                        li.booking-page__item
                            span.booking-page__label
                            img(src="images/house.jpg").booking-page__item-image
                            .booking-page__item-data
                                h3.booking-page__item-title СТАНДАРТ
                                .booking-page__item-info
                                    .booking-page__item-icon
                                        img(src="images/icons/square.svg")
                                    span.booking-page__item-desc площадь номера 12 м<sup>2</sup>
                                .booking-page__item-info
                                    .booking-page__item-icon
                                        img(src="images/icons/person.svg")
                                    span.booking-page__item-desc вместимость 2 человека
                                .booking-page__item-footer
                                    .booking-page__item-price 1500 р
                                        span 1 ночь/1 гость
                                    a(href="#").booking-page__item-link  выбрать
                        li.booking-page__item
                            span.booking-page__label
                            img(src="images/house.jpg").booking-page__item-image
                            .booking-page__item-data
                                h3.booking-page__item-title СТАНДАРТ
                                .booking-page__item-info
                                    .booking-page__item-icon
                                        img(src="images/icons/square.svg")
                                    span.booking-page__item-desc площадь номера 12 м<sup>2</sup>
                                .booking-page__item-info
                                    .booking-page__item-icon
                                        img(src="images/icons/person.svg")
                                    span.booking-page__item-desc вместимость 2 человека
                                .booking-page__item-footer
                                    .booking-page__item-price 1500 р
                                        span 1 ночь/1 гость
                                    a(href="#").booking-page__item-link  выбрать
                        li.booking-page__item
                            span.booking-page__item-label
                            img(src="images/house.jpg").booking-page__item-image
                            .booking-page__item-data
                                h3.booking-page__item-title СТАНДАРТ
                                .booking-page__item-info
                                    .booking-page__item-icon
                                        img(src="images/icons/square.svg")
                                    span.booking-page__item-desc площадь номера 12 м<sup>2</sup>
                                .booking-page__item-info
                                    .booking-page__item-icon
                                        img(src="images/icons/person.svg")
                                    span.booking-page__item-desc вместимость 2 человека
                                .booking-page__item-footer
                                    .booking-page__item-price 1500 р
                                        span 1 ночь/1 гость
                                    a(href="#").booking-page__item-link  выбрать