section.section.activities
    .activities-bg
    .container
        h2.title.title--big.activities__title как интересно <br> провести время <br> в абзаково?
    .slider-v2.swiper-container.activities__slider-v2
        .slider-v2-sidebar
            .slider-v2-pagination
                .slider-v2-bullet
                .slider-v2-bullet
                .slider-v2-bullet
            .slider-v2-counter
                .slider-v2-counter__text
                    span Страница -
                    span#pageCounter 01
        .swiper.slider-v2__swiper.slider-v2-container
            .slider-v2-wrapper.swiper-wrapper
                .slider-v2-slide.swiper-slide
                    .slider-v2-slide__wrapper
                        .slider-v2-slide__image
                            img(src="images/activities/slide1.jpg" alt="Стадо оленей")
                        .slider-v2-slide__content
                            h3.slider-v2-slide__title Прогулка на оленях
                            p.slider-v2-slide__text Прогулка на оленях – необычный и даже экстремальный отдых! Все мы родом из детства и хотим сказки, которые нам рассказывали мамы и бабушки. Ну а кто больше всего ассоциируется со сказкой, как не олени, именно катание на оленях легко возвращает нас в детство, в сказочный мир детских грез, неподдельной радости и ощущения праздника.
                            a(href="").button.slider-v2-slide__button Узнать подробнее
                .slider-v2-slide.swiper-slide
                    .slider-v2-slide__wrapper
                        .slider-v2-slide__image
                            img(src="images/activities/slide2.jpg" alt="Хаски")
                        .slider-v2-slide__content
                            h3.slider-v2-slide__title Мини-питомник “Хаски-город”
                            p.slider-v2-slide__text Здесь вас встретят самые игривые и неугомонные существа - собаки породы хаски. Достаточно только взглянуть в их небесно-голубые глаза, и вы сразу же ощутите себя совершенно в ином мире – мире нежности, теплоты и любви, исходящей от этих созданий.
                            a(href="").button.slider-v2-slide__button Узнать подробнее
        .slider-v2-sidebar.slider-v2-sidebar--empty
