section.offers.section
    .container
        h2.title.title--big.offers__title Лучшие предложения
        .offers-list
            ul.cards.offers__cards.offers-list
                li.cards-item.cards-item--narrow.offers__cards-item
                    .cards-item__inner
                        h3.cards-item__title Проживание на 5 ночей <br> на 2 человек
                        span.cards-item__benefit 8000 РУБ
                        ul.cards-item__list.offers-item__list В стоимость включено:
                            li.cards-item__list-item.offers-list__item
                                .cards-item__icon
                                    img(src="./images/icons/bed.svg" alt="")
                                span.cards-item__desc Номер “стандарт” <br> на 2 человек
                            li.cards-item__list-item.offers-list__item
                                .cards-item__icon
                                    img(src="./images/icons/brazier.svg" alt="")
                                span.cards-item__desc 2 часа мангальной <br> зоны
                            li.cards-item__list-item.offers-list__item
                                .cards-item__icon
                                    img(src="./images/icons/tennis.svg" alt="")
                                span.cards-item__desc 1 час настольного <br> тенниса
                            li.cards-item__list-item.offers-list__item
                                .cards-item__icon
                                    img(src="./images/icons/sauna.svg" alt="")
                                span.cards-item__desc 1 час бани <br> на дровах
                        .cards-item__footer
                            a(href="#").link.cards-item__link Бронировать
                li.cards-item.cards-item--narrow.offers__cards-item
                    .cards-item__inner
                        h3.cards-item__title Программа “туристический <br> кешбек”
                        span.cards-item__benefit -20% стоимости <br> поездки
                        ul.cards-item__list
                            li.cards-item__list-item.offers-list__item
                                span.cards-item__desc Зарегистрируйте вашу карту <br> “МИР” в программе лояльности <br> платёжной системы “МИР
                            li.cards-item__list-item.offers-list__item
                                span.cards-item__desc Выберите и забронируйте <br> проживание от 2 ночей с 18 марта <br> по 30 июня
                            li.cards-item__list-item.offers-list__item
                                span.cards-item__desc Выберите тариф, отмеченный <br> знаком “Кешбек по карте МИР”
                            li.cards-item__list-item.offers-list__item
                                span.cards-item__desc Оплатите полную стоимость <br> бронирования картой Я “МИР”
        a(href="#").link.link--arrow.offers__link Посмотреть все