.services__content
    .services__left
        ul.services__list
            li.services__item
                a(href="#").services__link.is-active Прокат велосипедов
            li.services__item
                a(href="#").services__link Мангальная зона
            li.services__item
                a(href="#").services__link Cауна с бассейном
            li.services__item
                a(href="#").services__link Баня на газу
            li.services__item
                a(href="#").services__link конференц зал
            li.services__item
                a(href="#").services__link Детская площадка
            li.services__item
                a(href="#").services__link Сплав
    .services__right
        .services__slide.is-active
            .services__image
                img(src="images/services-slider/slide1.jpg")
            .services__description Возьмите велосипед на прокат и наслаждайтесь великолепными видами Абзаково всей семьей
        .services__slide
            .services__image
                img(src="images/services-slider/slide1.jpg")
            .services__description Возьмите велосипед на прокат и наслаждайтесь великолепными видами Абзаково всей семьей
        .services__slide
            .services__image
                img(src="images/services-slider/slide1.jpg")
            .services__description Возьмите велосипед на прокат и наслаждайтесь великолепными видами Абзаково всей семьей
        .services__slide
            .services__image
                img(src="images/services-slider/slide1.jpg")
            .services__description Возьмите велосипед на прокат и наслаждайтесь великолепными видами Абзаково всей семьей
        .services__slide
            .services__image
                img(src="images/services-slider/slide1.jpg")
            .services__description Возьмите велосипед на прокат и наслаждайтесь великолепными видами Абзаково всей семьей
        .services__slide
            .services__image
                img(src="images/services-slider/slide1.jpg")
            .services__description Возьмите велосипед на прокат и наслаждайтесь великолепными видами Абзаково всей семьей
        .services__slide
            .services__image
                img(src="images/services-slider/slide1.jpg")
            .services__description Возьмите велосипед на прокат и наслаждайтесь великолепными видами Абзаково всей семьей

