.slider-v1.swiper-container.services__slider-v1
    .slider-v1-navigation
        button.slider-v1-navigation-prev
        button.slider-v1-navigation-next
    .swiper-wrapper
        .slider-v1-slide.swiper-slide
            .slider-v1-slide__wrapper
                .slider-v1-slide__image
                    img(src="images/services-slider/slide1.jpg" alt="Девушка с ребенком на велосипеде")
                p.slider-v1-slide__text Возьмите велосипед на прокат и наслаждайтесь великолепными видами Абзаково всей семьей
        .slider-v1-slide.swiper-slide
            .slider-v1-slide__wrapper
                .slider-v1-slide__image
                    img(src="images/services-slider/slide2.jpg" alt="Сувенирная лавка")
                p.slider-v1-slide__text В сувенирной лавке вы сможете приобрести сувениры, которые будут напоминать Вам об отдыхе в Абзаково, а также натуральный Башкирский мёд.
        .slider-v1-slide.swiper-slide
            .slider-v1-slide__wrapper
                .slider-v1-slide__image
                    img(src="images/services-slider/slide3.jpg" alt="Баня")
                p.slider-v1-slide__text Баня или сауна после активного отдыха – это не только естественный отдых, но и возможность расслабиться, снять боль в забитых мышцах. На территории гостинечного комплекса работает русская баня на дровах.