footer.footer
    .footer__wrapper
        .footer__compensator
        .footer__content
            .footer__column
                h4.title.footer__title Адрес отеля
                address.footer__address 453565,<br> Республика Башкортостан, Белорецкий район,<br>с. Новоабзаково,<br> проезд Горный, 1А
            .footer__column
                h4.title.footer__title Адрес Офиса
                address.footer__address 455000,<br> Челябинская область,<br>г.Магнитогорск, ул.Советская, 9 <br>(магазин "Аркада",<br> 2 этаж)
            .footer__column
                h4.title.footer__title Телефоны
                ul.footer__list
                    li.footer__list-item Администраторы
                        a(href="tel:+79028900438").footer__link 8 902 890 04 38
                    li.footer__list-item Менеджер по продажам <br>
                        a(href="tel:+79026108756").footer__link 8 902 610 87 56
                        a(href="tel:+79087048098").footer__link 8 908 704 80 98
                    li.footer__list-item Офис в Магнитогорске
                        a(href="tel:+73519207496").footer__link 8 3519 20 74 96

            .footer__column
                h4.title.footer__title e-mail
                a(href="mailto:edelws@mail.ru").footer__link.footer__link--email edelws@mail.ru
        .footer__compensator
