header.header.header--beige
    .header-wrapper
        .column.column--left.header__column--left
            .logo.header__logo
                a.logo__link(href="/")
                    +icon('logo')
        .column.column--center.header__column--center
            .header__menu
                .menu-btn.header__menu-btn
                    .menu-btn__burger
                        span.menu-btn__line
                        span.menu-btn__line
                        span.menu-btn__line
                    span.menu-btn__text меню
        .column.column--right.header__column--right
            .header-links
                a.link.header-links__item.link--light(href="#") Дома
                .header-links__line
                a.link.header-links__item.link--light(href="#") Номера
    .menu
        h3.title.title--bigest.menu__title Эдельвейс
        .menu__container
            nav.nav.menu__nav
                ul.nav-menu
                    li.nav-menu__item.nav-menu__item--big.menu__item
                        a(href="").nav-menu__link.nav-menu__link--white Бронирование
                    li.nav-menu__item.nav-menu__item--big.menu__item
                        a(href="").nav-menu__link.nav-menu__link--white Номера
                    li.nav-menu__item.nav-menu__item--big.menu__item
                        a(href="").nav-menu__link.nav-menu__link--white Дома
                    li.nav-menu__item.nav-menu__item--big.menu__item
                        a(href="").nav-menu__link.nav-menu__link--white Акции
                    li.nav-menu__item.nav-menu__item--big.menu__item
                        a(href="").nav-menu__link.nav-menu__link--white Услуги
                    li.nav-menu__item.nav-menu__item--big.menu__item
                        a(href="").nav-menu__link.nav-menu__link--white Контакты
        .menu__images
            .menu__image
                img(src="./images/menu-bg.jpg" alt="")