header.header 
  .header-wrapper
    .column.header__column.column--first
      a.logo(href="/")
        +icon('logo')
    .column.header__column.column--second
      .menu-btn.header__menu-btn
        .menu-btn__burger
          span.menu-btn__line
          span.menu-btn__line
          span.menu-btn__line
        span.menu-btn__text меню
    .column.header__column.column--third
      .header-links 
        a.header-links__item.link--light(href="#") Дома
        .header-links__line
        a.header-links__item.link--light(href="#") Номера
