.activities {
  background-color: $beige;
  max-height: 832px;

  @include max(s) {
    max-height: none;
    padding-bottom: 60px;
  }
  @include max(xs) {

  }

  &__slider-v2 {
    margin-top: 80px;

    @include max(m) {
      margin-top: 60px;
    }

    @include max(s) {
      margin-top: 40px;
    }
  }
}