.activities {
  background-color: $beige;

  &-bg {
    background-color: $text-primary;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 415px;
    width: 100%;
    pointer-events: none;

    @include max(m) {
      height: 400px;
    }

    @include max(s) {
      height: 410px;
    }

    @include max(xs) {
      display: none;
    }
  }

  @include max(s) {
    max-height: none;
    padding-bottom: 60px;
  }
  @include max(xs) {

  }

  &__slider-v2 {
    margin-top: 80px;

    @include max(m) {
      margin-top: 60px;
    }

    @include max(s) {
      margin-top: 40px;
    }
  }
}