.booking {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  max-height: 150px;
  background-color: $beige;
  transition: max-height 0.3s ease;

  @include max(s) {
    max-height: 100px;
  }

  &__wrapper {
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding-bottom: 0;
  }

  .booking__open {
    opacity: 1;
    visibility: visible;
  }

  &__header {
    height: 150px;
    padding: 42.5px;
    display: flex;
    justify-content: stretch;

    @media (max-height: 767px) {
      padding: 42.5px 42.5px 20px;
    }

    @include max(s) {
      height: 100px;
      padding: 20px;
    }
  }

  .calendar,
  .term,
  .booking__close {
    opacity: 0;
    display: none;
  }

  &.show {
    max-height: calc(100vh - 150px);

    @include max(s) {
      max-height: calc(100vh - 80px);
    }

    .booking__wrapper {
      padding-bottom: 53px;

      @include max(m) {
        padding-bottom: 30px;
      }

      @media (max-height: 767px) {
        padding-bottom: 20px;
      }
    }

    .booking__open {
      opacity: 0;
      visibility: hidden;
    }

    .hero__mobile-button {
      pointer-events: auto;
      animation-name: buttonShown;
      animation-duration: 0.5s;
      animation-delay: 0.4s;
      animation-fill-mode: forwards;
    }

    .booking__close,
    .calendar,
    .term {
      opacity: 1;
      display: block;
    }
  }

  &__open,
  &__close {
    display: block;
    margin: 0 auto 0 auto;
    transform: translateY(0);
    transition: transform 0.4s ease;

    svg {
      fill: transparent;
      width: vw(52);
      height: vw(26);

      @include max(s) {
        width: 52px;
        height: 26px;
      }

      @include max(475) {
        width: 40px;
        height: 20px;
      }
    }
  }

  &__open {
    position: absolute;
    top: vw(-60);
    left: 50%;
    transform: translate(-50%);
    z-index: 100;

    @include max(s) {
      top: -60px;
    }

    @include max(475) {
      top: -40px;
    }

    @include hover {
      &:hover {
        transform: translate(-50%, -7px);
      }
    }
  }

  &__close {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 30px;

    @include max(375) {
      bottom: 15px;
    }

    @include hover {
      &:hover {
        transform: translate(-50%, 7px);
      }
    }
  }

  &__calendar {
    margin: 0 auto;
    padding-bottom: 42.5px;

    @include max(m) {
      padding-bottom: 20px;
    }

    @media (max-height: 767px) {
      padding-bottom: 20px;
    }
  }

  &__term {
    //padding: 0 33px;
    font-size: 16px;
    line-height: (19 / 16);
    margin: 0 auto;

    @include min('xl') {
      font-size: vw(16);
    }

    @include max(m) {
      //padding: 0 33px 20px;
    }

    @media (max-height: 767px) {
      //padding: 0 33px 20px;
    }
  }
}

.params {
  display: flex;
  justify-content: space-between;
  width: 100%;

  &-item {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px 0;
    width: calc(33.33% - 50px);
    position: relative;

    @include max(1200) {
      width: calc(33.3% - 20px);
    }

    &__title {
      font-size: vw(14);
      line-height: (16 / 14);

      @include max(m) {
        font-size: 14px;
      }
    }

    &__value {
      font-family: "Gilroy", sans-serif;
      font-weight: 300;
      color: $black;
      display: flex;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;

      @include max('md') {
        margin-top: 5px;
      }

      svg {
        width: 4px;
        height: 8px;
        margin: -2px 0 0 6px;
        fill: transparent;
        stroke: $black;
        flex-shrink: 0;
      }
    }
  }

  &-separator {
    min-height: 100%;
    width: 1px;
    background-color: $text-primary;
  }
  
  &-dropdown {
    background-color: #fff;
    position: absolute;
    z-index: 5;
    width: 100%;
    min-width: 250px;
    top: calc(100% + 10px);
    right: 0;
    padding: 30px;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: 0.3s;

    &.is-open {
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
    }

    &__item {
      font-size: 14px;
      &:not(:first-child) {
        margin-top: 20px;
      }
    }

    &__btn {
      width: 30px;
      height: 30px;
      font-size: 18px;
      background-color: $beige;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;

      @include hover {
        background-color: rgba($brown, 0.8);
        color: $white;
      }
    }

    &__counter {
      margin-top: 10px;
      display: flex;
      align-items: center;
      font-size: 16px;
    }

    &__count {
      margin: 0 20px;
    }

    &__close {
      width: 100%;
      margin-top: 35px;
      font-size: 16px;
      font-weight: 300;
    }
  }
}

.term {
  &__count {
    margin-left: 6px;
  }

  &__desc,
  &__count {
    @include max(350) {
      display: none;
    }
  }
}
@keyframes buttonShown {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}