.calendar {
  width: vw(400);

  @media screen and (max-height: 950px) and (min-width: 1700px) {
    width: 402px;
  }

  @include max(m) {
    width: 400px;
  }

  @include max(475) {
    width: 309px;
  }

  @include max(350) {
    width: 260px;
  }

  &__control {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    color: $black;
    font-family: $main-font;
    font-weight: bold;
    font-size: vw(16);
    line-height: (22 / 16);
    letter-spacing: 0.02em;
    text-transform: uppercase;

    @media (max-height: 767px) {
      height: 20px;
    }
  }

  &__button {
    border: none;
    outline: none;
    cursor: pointer;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    svg {
      fill: transparent;
      width: vw(8);
      height: vw(12);
      transition: transform 0.4s ease;
      margin-bottom: 4px;
      stroke: $text-primary;

      @include max(m) {
        width: 8px;
        height: 12px;
      }
    }

    &-next {
      margin-left: 10px;

      @include min(1440) {
        margin-left: vw(10);
      }

      @include hover {
        &:hover {
          svg {
            transform: translateX(3px);
          }
        }
      }
    }

    &-prev {
      margin-right: 10px;

      &.disabled {
        opacity: 0.3;
        cursor: not-allowed;

        svg {
          pointer-events: none;
        }

        @include hover {
          &:hover {
            svg {
              transform: translateX(0);
            }
          }
        }
      }

      @include min(1440) {
        margin-right: vw(10);
      }

      @include hover {
        &:hover {
          svg {
            transform: translateX(-3px);
          }
        }
      }
    }
  }

  &__header {
    width: 100%;
    height: 42px;
    display: flex;
    align-items: center;
    margin: 0 vw(-10);

    @media screen and (max-height: 950px) and (min-width: 1700px) {
      margin: 0 -10px;
    }

    @include max(m) {
      margin: 0 -10px;
    }
  }

  &__month {
    font-size: 16px;

    @include min('xl') {
      font-size: vw(16);
    }
  }

  &__content {
    margin-top: 20px;

    @include max(m) {
      margin-top: 10px;
    }
  }

  &__day-name {
    width: vw(42);
    height: vw(42);
    margin: 0 vw(9);
    padding: vw(3) vw(6);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    background-color: $beige;
    font-family: "Gilroy", sans-serif;
    font-weight: bold;
    font-size: vw(16);
    line-height: (19 / 16);
    letter-spacing: 0.02em;
    text-transform: uppercase;

    @media screen and (max-height: 950px) and (min-width: 1700px) {
      width: 42px;
      height: 42px;
      margin: 0 9px;
      padding: 3px 6px;
      font-size: 16px;
    }

    @include max(m) {
      width: 42px;
      height: 42px;
      margin: 0 9px;
      padding: 3px 6px;
      font-size: 14px;
    }

    @include max(475) {
      width: 37px;
      height: 37px;
      margin: 0 5px;
      padding: 0;
    }

    @include max(350) {
      width: 30px;
      height: 30px;
    }
  }

  &__days {
    display: flex;
    flex-wrap: wrap;
    margin: vw(10) vw(-10) 0;

    @media screen and (max-height: 950px) and (min-width: 1700px) {
      margin: 10px -10px 0;
    }

    @include max(m) {
      margin: 0 -10px 0;
    }
  }

  &__day {
    width: vw(41.99);
    height: vw(41.99);
    padding: vw(3) vw(6);
    font-size: vw(16);
    background-color: #ffffff;
    font-family: "Gilroy", sans-serif;
    color: #c4c4c4;
    font-weight: 400;
    line-height: 1.1875;
    letter-spacing: 0.02em;
    margin: vw(9);
    flex-shrink: 0;
    opacity: 0.5;

    @media screen and (max-height: 950px) and (min-width: 1700px) {
      width: 42px;
      height: 42px;
      margin: 9px;
      font-size: 16px;
    }

    &.disabled {
      pointer-events: none;
      opacity: 0.5;
      position: relative;
      overflow: hidden;
    }

    &.current-month {
      color: $text-primary;
      opacity: 1;
    }
    &.current-month.disabled {
      opacity: 0.5;
    }

    &.current-day {
      box-shadow: inset 0 0 0 2px $brown;
    }

    &.check-in {
      background-color: $brown;
      color: $white;
    }

    &.day-between {
      background-color: rgba($brown, 0.4) !important;
      color: $white;
    }

    &.check-out {
      background-color: $brown;
      color: $white;
    }

    @include max(m) {
      width: 42px;
      height: 42px;
      padding: 3px 6px;
      margin: 9px;
      font-size: 16px;
    }

    @include max(475) {
      width: 37px;
      height: 37px;
      margin: 5px;
    }

    @include max(350) {
      width: 30px;
      height: 30px;
    }

    &:hover:not(.calendar__day--empty) {
      background-color: $brown;
      color: #fff;
      cursor: pointer;
      transition: all 0.3s;
    }

    &-today {
      background-color: $beige;
      color: #fff;
    }
  }
}
