.hero {
  position: relative;
  margin-top: -150px;
  z-index: 1;
  box-shadow: 0 7px 13px -5px #dac8b7;

  @include max(s) {
    margin-top: -80px;
  }

  &__container {
    display: flex;
    height: 100vh;
  }

  &__left {
    position: relative;
    z-index: 1;
    height: 100%;
    box-shadow: 0 7px 13px -5px #DAC8B7;
    display: flex;
    align-items: flex-end;

    &-bg {
      img {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  &__wrapper {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 175px;
  }


  &__column {
    position: relative;
    z-index: 1;

    &--left {

      @include max(m) {
        display: none;
      }
    }

    &--center {
      @include max(m) {
        width: calc(100% - 250px);
      }

      @include max(s) {
        width: 100%;
      }
    }

    &--right {
      @include max(m) {
        width: 250px;
      }

      @include max(s) {
        display: none;
      }
    }
  }

  &__center {
    margin-top: 150px;
    padding: 80px 30px 150px 80px;

    @include max(1200) {
      padding: 50px 30px 150px 50px;
    }

    @include max(s) {
      margin-top: 80px;
    }

    @include max(475) {
      padding: 30px 30px;
    }
  }

  &__main-title {
    @include max(s) {
      margin-top: 10px;
      font-size: 18px;
      color: #363636;
    }
  }

  &__mobile-link {
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 200px;
    left: 50px;

    @include max(s) {
      bottom: 130px;
    }

    @include max(xs) {
      left: 30px;
    }

    &--vk {
      left: 100px;

      @include max(xs) {
        left: 80px;
      }
    }

    svg {
      width: 40px;
      height: 40px;
    }
  }

  &__right {
    position: relative;
    padding-top: 150px;
    width: 100%;
    height: 100%;

    &-bg {
      width: 100%;
      height: calc(100% - 150px);
      position: relative;

      img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  &__text {
    max-width: 375px;
    margin-top: 80px;

    @include max(1200) {
      margin-top: 50px;
    }

    @include max(400) {
      margin-top: 35px;
    }
  }

  &__link {
    margin-top: 30px;
    letter-spacing: 0.03rem;

    @include max(400) {
      margin-top: 20px;
    }
  }

  &__title {
    position: absolute;
    right: -892px;
    bottom: 0;
    z-index: 2;
    color: #ffffff;
    transform: rotate(-90deg);
    transform-origin: left bottom;
    pointer-events: none;

    @include max(1200) {
      right: -749px;
    }
  }

  &__button {
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    text-transform: uppercase;
    transition: all 0.3s ease;

    @include hover {
      background-color: $brown;
      color: $white;
    }

    @include max(m) {
      font-size: 16px;
    }
  }

  &__mobile-button {
    width: 200px;
    padding: 20px;
    display: none;
    text-transform: uppercase;
    background-color: $brown;
    color: $white;
    margin: 20px auto 0;

    @include max(s) {
      display: block;
    }

    @include max(350) {
      margin: 0 auto;
      padding: 10px;
      font-size: 14px;
    }
  }
}

.social {
  position: relative;
  z-index: 2;
  width: 250px;
  height: 150px;
  background-color: $white;

  &__inner {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__lines {
    margin: 0 6px;
    height: 6px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;


  }

  &__line {
    width: vw(112);
    height: 1px;
    background-color: $text-primary;
    &--current {
      width: 25%;
    }
  }
}

.call-btn {
  position: absolute;
  top: 25%;
  right: -120px;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  cursor: pointer;

  svg {
    width: 100%;
    height: 100%;

    @include min(m) {
      animation-name: rotation;
      animation-duration: 16s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
    }

    @include max(m) {
      display: none;
    }
  }

  @include hover {
    svg {
      animation-play-state: paused;
    }
    .call-btn__round {
      transform: translate(-50%, -50%) scale(1.1);
    }
  }



  @include max(m) {
    width: 40px;
    height: 40px;
    right: 50px;
    top: auto;
    bottom: 200px;
  }

  @include max(s) {
    bottom: 130px;
    right: 30px;
  }

  &__round {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: $text-primary;
    width: 65px;
    height: 65px;
    transition: 0.4s ease;
    background-image: url("../images/icons/call.svg");
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center center;

    @include max(1200) {
      width: 60px;
      height: 60px;
    }

    @include max(m) {
      width: 40px;
      height: 40px;
      animation: pulse 2s infinite;
      transform: scale(1);
      top: 0;
      left: 0;
    }

  }
}

@keyframes rotation {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }

}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 15px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}